<nav class="navbar navbar-expand-md bg-dark sticky-top border-bottom" data-bs-theme="dark">
  <div class="container">
    <a class="navbar-brand d-md-none" href="#">
      Poetry Goldens
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"
            aria-controls="offcanvas" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
      <div class="offcanvas-header">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav flex-grow-1 justify-content-between">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['']">Home</a>
          </li>
          @for (puppy of (puppiesData$ | async); track puppy.sys.id) {
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['puppy', puppy.fields['name'] ]">{{puppy.fields['name']}}</a>
            </li>
          }
        </ul>
      </div>
    </div>
  </div>
</nav>

<main>
  <router-outlet></router-outlet>
</main>

<footer class="w-100 bg-soothing-breeze pb-5">
  <div class="container py-5 mb-5">
    <h2>Contact Us</h2>
    <div class="row">

    </div>
  </div>
</footer>
